src/AuctionService/bin/Debug/net7.0/appsettings.Development.json
src/AuctionService/bin/Debug/net7.0/appsettings.json
src/AuctionService/bin/Debug/net7.0/AuctionService.deps.json
src/AuctionService/bin/Debug/net7.0/AuctionService.dll
src/AuctionService/bin/Debug/net7.0/AuctionService.exe
src/AuctionService/bin/Debug/net7.0/AuctionService.pdb
src/AuctionService/bin/Debug/net7.0/AuctionService.runtimeconfig.json
src/AuctionService/bin/Debug/net7.0/AutoMapper.dll
src/AuctionService/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
src/AuctionService/bin/Debug/net7.0/Humanizer.dll
src/AuctionService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/AuctionService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
src/AuctionService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
src/AuctionService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
src/AuctionService/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
src/AuctionService/bin/Debug/net7.0/Mono.TextTemplating.dll
src/AuctionService/bin/Debug/net7.0/Npgsql.dll
src/AuctionService/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
src/AuctionService/bin/Debug/net7.0/System.CodeDom.dll
src/AuctionService/obj/AuctionService.csproj.EntityFrameworkCore.targets
src/AuctionService/obj/AuctionService.csproj.nuget.dgspec.json
src/AuctionService/obj/AuctionService.csproj.nuget.g.props
src/AuctionService/obj/AuctionService.csproj.nuget.g.targets
src/AuctionService/obj/project.assets.json
src/AuctionService/obj/project.nuget.cache
src/AuctionService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/AuctionService/obj/Debug/net7.0/apphost.exe
src/AuctionService/obj/Debug/net7.0/AuctionService.AssemblyInfo.cs
src/AuctionService/obj/Debug/net7.0/AuctionService.AssemblyInfoInputs.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.assets.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.csproj.AssemblyReference.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.csproj.CopyComplete
src/AuctionService/obj/Debug/net7.0/AuctionService.csproj.CoreCompileInputs.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.csproj.FileListAbsolute.txt
src/AuctionService/obj/Debug/net7.0/AuctionService.dll
src/AuctionService/obj/Debug/net7.0/AuctionService.GeneratedMSBuildEditorConfig.editorconfig
src/AuctionService/obj/Debug/net7.0/AuctionService.genruntimeconfig.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.GlobalUsings.g.cs
src/AuctionService/obj/Debug/net7.0/AuctionService.MvcApplicationPartsAssemblyInfo.cache
src/AuctionService/obj/Debug/net7.0/AuctionService.pdb
src/AuctionService/obj/Debug/net7.0/staticwebassets.build.json
src/AuctionService/obj/Debug/net7.0/ref/AuctionService.dll
src/AuctionService/obj/Debug/net7.0/refint/AuctionService.dll
src/AuctionService/obj/Debug/net7.0/staticwebassets/msbuild.build.AuctionService.props
src/AuctionService/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.AuctionService.props
src/AuctionService/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.AuctionService.props
